@charset "UTF-8";
/*! * Ordlicon 0.1.2 by Stefan Degen - https://stefandegen.me * License - https://stefandegen.me/de/license/free-licence/ (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) */
.oi,
.ois,
.oir,
.oil,
.oib {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.oi-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.oi-xs {
  font-size: 0.75em;
}

.oi-sm {
  font-size: 0.875em;
}

.oi-1x {
  font-size: 1em;
}

.oi-15x {
  font-size: 1.5em;
}

.oi-2x {
  font-size: 2em;
}

.oi-3x {
  font-size: 3em;
}

.oi-4x {
  font-size: 4em;
}

.oi-5x {
  font-size: 5em;
}

.oi-6x {
  font-size: 6em;
}

.oi-7x {
  font-size: 7em;
}

.oi-8x {
  font-size: 8em;
}

.oi-9x {
  font-size: 9em;
}

.oi-10x {
  font-size: 10em;
}

.oi-fw {
  text-align: center;
  width: 1.25em;
}

.oi-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}
.oi-ul > li {
  position: relative;
}

.oi-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.oi-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.oi-pull-left {
  float: left;
}

.oi-pull-right {
  float: right;
}

.oi.oi-pull-left,
.ois.oi-pull-left,
.oir.oi-pull-left,
.oil.oi-pull-left,
.oib.oi-pull-left {
  margin-right: 0.3em;
}
.oi.oi-pull-right,
.ois.oi-pull-right,
.oir.oi-pull-right,
.oil.oi-pull-right,
.oib.oi-pull-right {
  margin-left: 0.3em;
}

.oi-spin {
  animation: oi-spin 2s infinite linear;
}

.oi-pulse {
  animation: oi-spin 1s infinite steps(8);
}

@keyframes oi-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.oi-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  transform: rotate(90deg);
}

.oi-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  transform: rotate(180deg);
}

.oi-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  transform: rotate(270deg);
}

.oi-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  transform: scale(-1, 1);
}

.oi-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scale(1, -1);
}

.oi-flip-both, .oi-flip-horizontal.oi-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scale(-1, -1);
}

:root .oi-rotate-90,
:root .oi-rotate-180,
:root .oi-rotate-270,
:root .oi-flip-horizontal,
:root .oi-flip-vertical,
:root .oi-flip-both {
  filter: none;
}

.oi-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
  transform-origin: center 51%;
}

.oi-stack-1x,
.oi-stack-2x,
.oi-stack-3x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.oi-stack-1x {
  line-height: inherit;
}

.oi-stack-2x {
  font-size: 2em;
}

.oi-stack-3x {
  font-size: 3em;
}

.oi-inverse {
  color: #fff;
}

/* Ordlicon uses the Unicode Private Use Area (PUA) to ensure screen readers do not read off random characters that represent icons */
.oi-account:before { content: "\E005"; }
.oi-account-check:before { content: "\E28E"; }
.oi-account-cross:before { content: "\E001"; }
.oi-account-minus:before { content: "\E002"; }
.oi-account-plus:before { content: "\E003"; }
.oi-account-settings:before { content: "\E004"; }
.oi-alarm:before { content: "\E008"; }
.oi-alarm-check:before { content: "\E006"; }
.oi-alarm-plus:before { content: "\E007"; }
.oi-alert:before { content: "\E00A"; }
.oi-alert-snooze:before { content: "\E009"; }
.oi-align-bottom:before { content: "\E00B"; }
.oi-align-center:before { content: "\E00C"; }
.oi-align-left:before { content: "\E00D"; }
.oi-align-middle:before { content: "\E00E"; }
.oi-align-right:before { content: "\E00F"; }
.oi-align-top:before { content: "\E010"; }
.oi-amazone:before { content: "\E24A"; }
.oi-amazone-pay:before { content: "\E257"; }
.oi-angular:before { content: "\E24E"; }
.oi-app-store:before { content: "\E244"; }
.oi-apple-pay:before { content: "\E255"; }
.oi-apple-sign:before { content: "\E242"; }
.oi-archive:before { content: "\E015"; }
.oi-archive-check:before { content: "\E28A"; }
.oi-archive-cross:before { content: "\E011"; }
.oi-archive-minus:before { content: "\E012"; }
.oi-archive-plus:before { content: "\E013"; }
.oi-archive-settings:before { content: "\E014"; }
.oi-arrow-bottom-left:before { content: "\E016"; }
.oi-arrow-bottom-right:before { content: "\E017"; }
.oi-arrow-circled-down:before { content: "\E018"; }
.oi-arrow-circled-left:before { content: "\E019"; }
.oi-arrow-circled-right:before { content: "\E01A"; }
.oi-arrow-circled-up:before { content: "\E01B"; }
.oi-arrow-cross-to-down:before { content: "\E01C"; }
.oi-arrow-cross-to-left:before { content: "\E01D"; }
.oi-arrow-cross-to-right:before { content: "\E01E"; }
.oi-arrow-cross-to-up:before { content: "\E01F"; }
.oi-arrow-curvy-down:before { content: "\E020"; }
.oi-arrow-curvy-left:before { content: "\E021"; }
.oi-arrow-curvy-right:before { content: "\E022"; }
.oi-arrow-curvy-up:before { content: "\E023"; }
.oi-arrow-down:before { content: "\E026"; }
.oi-arrow-down-bold:before { content: "\E024"; }
.oi-arrow-exchange-right-left:before { content: "\E027"; }
.oi-arrow-exchange-up-down:before { content: "\E028"; }
.oi-arrow-expand-to-down:before { content: "\E029"; }
.oi-arrow-expand-to-left:before { content: "\E02A"; }
.oi-arrow-expand-to-right:before { content: "\E02B"; }
.oi-arrow-expand-to-up:before { content: "\E02C"; }
.oi-arrow-left:before { content: "\E02E"; }
.oi-arrow-left-bold:before { content: "\E02D"; }
.oi-arrow-merge-down:before { content: "\E02F"; }
.oi-arrow-merge-left:before { content: "\E030"; }
.oi-arrow-merge-right:before { content: "\E031"; }
.oi-arrow-merge-up:before { content: "\E032"; }
.oi-arrow-move-left-down:before { content: "\E033"; }
.oi-arrow-move-left-up:before { content: "\E034"; }
.oi-arrow-move-right-down:before { content: "\E035"; }
.oi-arrow-move-right-up:before { content: "\E036"; }
.oi-arrow-random:before { content: "\E037"; }
.oi-arrow-right:before { content: "\E03A"; }
.oi-arrow-right-bold:before { content: "\E038"; }
.oi-arrow-right-left:before { content: "\E039"; }
.oi-arrow-select-to-left:before { content: "\E03B"; }
.oi-arrow-select-to-right:before { content: "\E03C"; }
.oi-arrow-split-down:before { content: "\E03D"; }
.oi-arrow-split-horizontal:before { content: "\E03E"; }
.oi-arrow-split-left:before { content: "\E03F"; }
.oi-arrow-split-right:before { content: "\E040"; }
.oi-arrow-split-up:before { content: "\E041"; }
.oi-arrow-split-vertical:before { content: "\E042"; }
.oi-arrow-to-down:before { content: "\E043"; }
.oi-arrow-to-end:before { content: "\E044"; }
.oi-arrow-to-start:before { content: "\E045"; }
.oi-arrow-to-up:before { content: "\E046"; }
.oi-arrow-top-left:before { content: "\E047"; }
.oi-arrow-top-right:before { content: "\E048"; }
.oi-arrow-turn-down:before { content: "\E025"; }
.oi-arrow-turn-left:before { content: "\E049"; }
.oi-arrow-turn-right:before { content: "\E04A"; }
.oi-arrow-turn-up:before { content: "\E04B"; }
.oi-arrow-up:before { content: "\E04E"; }
.oi-arrow-up-bold:before { content: "\E04D"; }
.oi-arrow-up-down:before { content: "\E04C"; }
.oi-atom:before { content: "\E1BF"; }
.oi-attachement:before { content: "\E053"; }
.oi-attachement-cross:before { content: "\E04F"; }
.oi-attachement-minus:before { content: "\E050"; }
.oi-attachement-off:before { content: "\E051"; }
.oi-attachement-plus:before { content: "\E052"; }
.oi-backlog:before { content: "\E261"; }
.oi-backpack:before { content: "\E054"; }
.oi-backspace:before { content: "\E056"; }
.oi-backward:before { content: "\E18C"; }
.oi-backward-fast:before { content: "\E18E"; }
.oi-backward-step:before { content: "\E18D"; }
.oi-badge:before { content: "\E057"; }
.oi-badge-three:before { content: "\E1F3"; }
.oi-badge-two:before { content: "\E1F2"; }
.oi-bag:before { content: "\E058"; }
.oi-basket:before { content: "\E05F"; }
.oi-basket-arrow-down:before { content: "\E059"; }
.oi-basket-arrow-up:before { content: "\E05A"; }
.oi-basket-check:before { content: "\E292"; }
.oi-basket-cross:before { content: "\E05B"; }
.oi-basket-minus:before { content: "\E05C"; }
.oi-basket-off:before { content: "\E05D"; }
.oi-basket-plus:before { content: "\E05E"; }
.oi-batterie-bolt:before { content: "\E1BE"; }
.oi-batterie-empty:before { content: "\E1B8"; }
.oi-batterie-fuel:before { content: "\E1B4"; }
.oi-batterie-fuel-bold:before { content: "\E1B0"; }
.oi-batterie-half:before { content: "\E1B6"; }
.oi-batterie-half-bold:before { content: "\E1B2"; }
.oi-batterie-none:before { content: "\E1B9"; }
.oi-batterie-quater:before { content: "\E1B7"; }
.oi-batterie-quater-bold:before { content: "\E1B3"; }
.oi-batterie-three-quater-bold:before { content: "\E1B1"; }
.oi-batterie-three-quaters:before { content: "\E1B5"; }
.oi-beer:before { content: "\E1E6"; }
.oi-bell-outline:before { content: "\E061"; }
.oi-bell-outline-off:before { content: "\E060"; }
.oi-bitcoin-sign:before { content: "\E258"; }
.oi-bluetooth:before { content: "\E063"; }
.oi-bluetooth-connect:before { content: "\E062"; }
.oi-bluetooth-off:before { content: "\E235"; }
.oi-bombe:before { content: "\E1D4"; }
.oi-book-old:before { content: "\E1A1"; }
.oi-bookmark-cross:before { content: "\E064"; }
.oi-bookmark-minus:before { content: "\E065"; }
.oi-bookmark-outline:before { content: "\E067"; }
.oi-bookmark-plus:before { content: "\E066"; }
.oi-brackets-curly:before { content: "\E232"; }
.oi-brick:before { content: "\E06C"; }
.oi-brick-cross:before { content: "\E068"; }
.oi-brick-minus:before { content: "\E069"; }
.oi-brick-plus:before { content: "\E06A"; }
.oi-brick-settings:before { content: "\E06B"; }
.oi-bring-to-back:before { content: "\E21E"; }
.oi-bring-to-front:before { content: "\E21D"; }
.oi-brush:before { content: "\E273"; }
.oi-bug-sign:before { content: "\E1D9"; }
.oi-building:before { content: "\E275"; }
.oi-burger:before { content: "\E1DF"; }
.oi-button:before { content: "\E06D"; }
.oi-calculator:before { content: "\E06E"; }
.oi-calendar-alert:before { content: "\E06F"; }
.oi-calendar-before:before { content: "\E070"; }
.oi-calendar-day:before { content: "\E073"; }
.oi-calendar-day-before:before { content: "\E071"; }
.oi-calendar-day-next:before { content: "\E072"; }
.oi-calendar-next:before { content: "\E074"; }
.oi-calendar-outline:before { content: "\E07A"; }
.oi-calendar-range:before { content: "\E075"; }
.oi-calendar-time:before { content: "\E076"; }
.oi-calendar-week:before { content: "\E079"; }
.oi-calendar-week-before:before { content: "\E077"; }
.oi-calendar-week-next:before { content: "\E078"; }
.oi-camera-outline:before { content: "\E07B"; }
.oi-capslock-outline:before { content: "\E055"; }
.oi-car:before { content: "\E295"; }
.oi-card-id:before { content: "\E07C"; }
.oi-card-stack:before { content: "\E07F"; }
.oi-card-stack-minus:before { content: "\E07D"; }
.oi-card-stack-plus:before { content: "\E07E"; }
.oi-carret-double-left:before { content: "\E080"; }
.oi-carret-double-right:before { content: "\E081"; }
.oi-carret-double-up:before { content: "\E082"; }
.oi-carret-doueble-down:before { content: "\E083"; }
.oi-carret-down:before { content: "\E084"; }
.oi-carret-expande-to-bottom:before { content: "\E085"; }
.oi-carret-expande-to-left:before { content: "\E086"; }
.oi-carret-expande-to-right:before { content: "\E087"; }
.oi-carret-expande-to-up:before { content: "\E088"; }
.oi-carret-left:before { content: "\E089"; }
.oi-carret-move-left-right:before { content: "\E08A"; }
.oi-carret-move-up-down:before { content: "\E08B"; }
.oi-carret-reduce-to-down:before { content: "\E08C"; }
.oi-carret-reduce-to-left:before { content: "\E08D"; }
.oi-carret-reduce-to-right:before { content: "\E08E"; }
.oi-carret-reduce-to-up:before { content: "\E08F"; }
.oi-carret-right:before { content: "\E090"; }
.oi-carret-sort:before { content: "\E091"; }
.oi-carret-up:before { content: "\E092"; }
.oi-cart:before { content: "\E09A"; }
.oi-cart-arrow-down:before { content: "\E094"; }
.oi-cart-arrow-up:before { content: "\E095"; }
.oi-cart-check:before { content: "\E291"; }
.oi-cart-cross:before { content: "\E096"; }
.oi-cart-minus:before { content: "\E097"; }
.oi-cart-off:before { content: "\E093"; }
.oi-cart-plus:before { content: "\E098"; }
.oi-cart-speed:before { content: "\E099"; }
.oi-cassette:before { content: "\E19E"; }
.oi-cell-border-all:before { content: "\E21C"; }
.oi-cell-border-bottom:before { content: "\E217"; }
.oi-cell-border-frame:before { content: "\E213"; }
.oi-cell-border-inner:before { content: "\E21B"; }
.oi-cell-border-inner-horizontal:before { content: "\E219"; }
.oi-cell-border-inner-vertical:before { content: "\E21A"; }
.oi-cell-border-left:before { content: "\E215"; }
.oi-cell-border-none:before { content: "\E218"; }
.oi-cell-border-right:before { content: "\E216"; }
.oi-cell-border-top:before { content: "\E214"; }
.oi-chat:before { content: "\E09F"; }
.oi-chat-check:before { content: "\E09B"; }
.oi-chat-cross:before { content: "\E09C"; }
.oi-chat-minus:before { content: "\E09D"; }
.oi-chat-plus:before { content: "\E09E"; }
.oi-check-circled:before { content: "\E28C"; }
.oi-check-mark:before { content: "\E28D"; }
.oi-checkbox-off:before { content: "\E0A0"; }
.oi-checkbox-on:before { content: "\E0A1"; }
.oi-chess-bishop:before { content: "\E280"; }
.oi-chess-king:before { content: "\E281"; }
.oi-chess-knight:before { content: "\E283"; }
.oi-chess-pawn:before { content: "\E282"; }
.oi-chess-queen:before { content: "\E284"; }
.oi-chess-rook:before { content: "\E285"; }
.oi-chevron-double-down:before { content: "\E0A2"; }
.oi-chevron-double-left:before { content: "\E0A3"; }
.oi-chevron-double-right:before { content: "\E0A4"; }
.oi-chevron-double-up:before { content: "\E0A5"; }
.oi-chevron-down:before { content: "\E0A6"; }
.oi-chevron-left:before { content: "\E0A7"; }
.oi-chevron-right:before { content: "\E0A8"; }
.oi-chevron-up:before { content: "\E0A9"; }
.oi-clipboard-outline:before { content: "\E0AA"; }
.oi-cloud:before { content: "\E0B3"; }
.oi-cloud-arrow-down:before { content: "\E0AB"; }
.oi-cloud-arrow-up:before { content: "\E0AC"; }
.oi-cloud-check:before { content: "\E289"; }
.oi-cloud-cross:before { content: "\E0AD"; }
.oi-cloud-minus:before { content: "\E0AE"; }
.oi-cloud-off:before { content: "\E0AF"; }
.oi-cloud-plus:before { content: "\E0B0"; }
.oi-cloud-settings:before { content: "\E0B1"; }
.oi-cloud-sync:before { content: "\E0B2"; }
.oi-code-ean:before { content: "\E0B4"; }
.oi-code-qr:before { content: "\E0B5"; }
.oi-coding:before { content: "\E239"; }
.oi-coffee:before { content: "\E1E4"; }
.oi-colorcard:before { content: "\E212"; }
.oi-column-add:before { content: "\E0B6"; }
.oi-column-delete:before { content: "\E0B7"; }
.oi-column-minus:before { content: "\E0B8"; }
.oi-command:before { content: "\E0B9"; }
.oi-compact-disc:before { content: "\E231"; }
.oi-copier:before { content: "\E227"; }
.oi-copy:before { content: "\E0BA"; }
.oi-copyright-sign:before { content: "\E1D2"; }
.oi-crane:before { content: "\E26E"; }
.oi-creative-commons:before { content: "\E259"; }
.oi-creative-commons-by:before { content: "\E25A"; }
.oi-creative-commons-nc:before { content: "\E25B"; }
.oi-creative-commons-nd:before { content: "\E25C"; }
.oi-creative-commons-pd:before { content: "\E25D"; }
.oi-creative-commons-sa:before { content: "\E25E"; }
.oi-credit-card:before { content: "\E0BF"; }
.oi-credit-card-check:before { content: "\E293"; }
.oi-credit-card-cross:before { content: "\E0BB"; }
.oi-credit-card-minus:before { content: "\E0BC"; }
.oi-credit-card-off:before { content: "\E0BD"; }
.oi-credit-card-plus:before { content: "\E0BE"; }
.oi-cross-circled:before { content: "\E0C0"; }
.oi-cross-outline:before { content: "\E0C1"; }
.oi-crosshair:before { content: "\E0C3"; }
.oi-crosshair-two:before { content: "\E0C2"; }
.oi-css:before { content: "\E24D"; }
.oi-cup:before { content: "\E1E3"; }
.oi-dashboard:before { content: "\E0C4"; }
.oi-day:before { content: "\E1D7"; }
.oi-debug:before { content: "\E1DA"; }
.oi-delivery:before { content: "\E1F9"; }
.oi-delivery-fast:before { content: "\E1FA"; }
.oi-delta-sign:before { content: "\E1D1"; }
.oi-diagonal-left:before { content: "\E0C5"; }
.oi-diagonal-right:before { content: "\E0C6"; }
.oi-diamant:before { content: "\E0C7"; }
.oi-dice:before { content: "\E279"; }
.oi-dice-five:before { content: "\E27E"; }
.oi-dice-four:before { content: "\E27D"; }
.oi-dice-one:before { content: "\E27A"; }
.oi-dice-six:before { content: "\E27F"; }
.oi-dice-three:before { content: "\E27C"; }
.oi-dice-two:before { content: "\E27B"; }
.oi-display:before { content: "\E221"; }
.oi-distribute-horizontal:before { content: "\E0C8"; }
.oi-distribute-vertical:before { content: "\E0C9"; }
.oi-donut:before { content: "\E1EC"; }
.oi-dots-horizontal:before { content: "\E0CA"; }
.oi-dots-vertical:before { content: "\E0CB"; }
.oi-download:before { content: "\E0CC"; }
.oi-drag-and-drop-bar:before { content: "\E1C7"; }
.oi-drag-and-drop-bar-long:before { content: "\E1C8"; }
.oi-drillingmachine:before { content: "\E274"; }
.oi-eightball:before { content: "\E1D5"; }
.oi-eject:before { content: "\E192"; }
.oi-enter:before { content: "\E0CE"; }
.oi-enter-full-screen:before { content: "\E0CD"; }
.oi-eraser:before { content: "\E20E"; }
.oi-erni:before { content: "\E286"; }
.oi-ethernet:before { content: "\E233"; }
.oi-evening:before { content: "\E1D8"; }
.oi-exit:before { content: "\E0D0"; }
.oi-exit-full-screen:before { content: "\E0CF"; }
.oi-external-link:before { content: "\E0D1"; }
.oi-eye-off:before { content: "\E0D2"; }
.oi-eye-outline:before { content: "\E0D3"; }
.oi-eyedropper:before { content: "\E0D6"; }
.oi-eyedropper-full:before { content: "\E0D4"; }
.oi-eyedropper-off:before { content: "\E0D5"; }
.oi-facebook:before { content: "\E23E"; }
.oi-fibonacci-eight:before { content: "\E267"; }
.oi-fibonacci-five:before { content: "\E266"; }
.oi-fibonacci-one:before { content: "\E263"; }
.oi-fibonacci-thirteen:before { content: "\E268"; }
.oi-fibonacci-three:before { content: "\E265"; }
.oi-fibonacci-two:before { content: "\E264"; }
.oi-file:before { content: "\E0DA"; }
.oi-file-archive:before { content: "\E1AF"; }
.oi-file-doc:before { content: "\E1A6"; }
.oi-file-eps:before { content: "\E1AE"; }
.oi-file-gif:before { content: "\E1AB"; }
.oi-file-jpg:before { content: "\E1A9"; }
.oi-file-minus:before { content: "\E0D7"; }
.oi-file-mp3:before { content: "\E1A8"; }
.oi-file-otf:before { content: "\E1A5"; }
.oi-file-pdf:before { content: "\E1A3"; }
.oi-file-plus:before { content: "\E0D8"; }
.oi-file-ppt:before { content: "\E1A7"; }
.oi-file-psd:before { content: "\E1AC"; }
.oi-file-svg:before { content: "\E1AD"; }
.oi-file-text:before { content: "\E0D9"; }
.oi-file-tif:before { content: "\E1AA"; }
.oi-file-ttf:before { content: "\E1A4"; }
.oi-filter:before { content: "\E0DE"; }
.oi-filter-cross:before { content: "\E0DB"; }
.oi-filter-minus:before { content: "\E0DC"; }
.oi-filter-plus:before { content: "\E0DD"; }
.oi-fingerprint:before { content: "\E0DF"; }
.oi-flash:before { content: "\E0E0"; }
.oi-flip-horizontal:before { content: "\E0E1"; }
.oi-flip-vertical:before { content: "\E0E2"; }
.oi-folder-check:before { content: "\E28B"; }
.oi-folder-cross:before { content: "\E0E3"; }
.oi-folder-minus:before { content: "\E0E4"; }
.oi-folder-open:before { content: "\E0E5"; }
.oi-folder-outline:before { content: "\E0EA"; }
.oi-folder-plus:before { content: "\E0E6"; }
.oi-folder-refresh:before { content: "\E0E7"; }
.oi-folder-settings:before { content: "\E0E8"; }
.oi-folder-sync:before { content: "\E0E9"; }
.oi-forbidden:before { content: "\E0EB"; }
.oi-forward:before { content: "\E18F"; }
.oi-forward-fast:before { content: "\E191"; }
.oi-forward-step:before { content: "\E190"; }
.oi-french-fries:before { content: "\E1ED"; }
.oi-funnel:before { content: "\E1C9"; }
.oi-funnel-cross:before { content: "\E1CC"; }
.oi-funnel-minus:before { content: "\E1CB"; }
.oi-funnel-plus:before { content: "\E1CA"; }
.oi-gameboy:before { content: "\E276"; }
.oi-gamepad:before { content: "\E277"; }
.oi-gear-outline:before { content: "\E0EC"; }
.oi-ghettoblaster:before { content: "\E19D"; }
.oi-ghost-sign:before { content: "\E278"; }
.oi-gift:before { content: "\E1F5"; }
.oi-gift-card:before { content: "\E1F6"; }
.oi-github:before { content: "\E251"; }
.oi-globe:before { content: "\E0ED"; }
.oi-google:before { content: "\E241"; }
.oi-google-pay:before { content: "\E256"; }
.oi-google-play:before { content: "\E245"; }
.oi-grill:before { content: "\E1E1"; }
.oi-hand-truck:before { content: "\E294"; }
.oi-heading:before { content: "\E210"; }
.oi-headphone-sign:before { content: "\E22E"; }
.oi-headset:before { content: "\E22D"; }
.oi-heart-outline:before { content: "\E0EE"; }
.oi-height:before { content: "\E0EF"; }
.oi-highlighter:before { content: "\E20F"; }
.oi-history:before { content: "\E0F0"; }
.oi-home:before { content: "\E0F1"; }
.oi-honour:before { content: "\E1F7"; }
.oi-hotdog:before { content: "\E1E0"; }
.oi-html5:before { content: "\E24C"; }
.oi-ice-crystal:before { content: "\E1F1"; }
.oi-image:before { content: "\E0F2"; }
.oi-info:before { content: "\E0F4"; }
.oi-info-circled:before { content: "\E0F3"; }
.oi-instagram:before { content: "\E23F"; }
.oi-kanban:before { content: "\E260"; }
.oi-key-chain:before { content: "\E0F5"; }
.oi-key-outline:before { content: "\E0F6"; }
.oi-keyboard-close:before { content: "\E0F7"; }
.oi-keyboard-outline:before { content: "\E0FA"; }
.oi-keyboard-settings:before { content: "\E0F8"; }
.oi-keyboard-up:before { content: "\E0F9"; }
.oi-keypad:before { content: "\E0FB"; }
.oi-label-outline:before { content: "\E0FC"; }
.oi-laptop:before { content: "\E222"; }
.oi-lasso:before { content: "\E20B"; }
.oi-layer-cross:before { content: "\E200"; }
.oi-layer-group:before { content: "\E1FD"; }
.oi-layer-minus:before { content: "\E1FE"; }
.oi-layer-off:before { content: "\E201"; }
.oi-layer-plus:before { content: "\E1FF"; }
.oi-letter-height:before { content: "\E0FD"; }
.oi-letter-space:before { content: "\E0FE"; }
.oi-letter-weight:before { content: "\E0FF"; }
.oi-life-save-ring:before { content: "\E1DD"; }
.oi-link:before { content: "\E104"; }
.oi-link-cross:before { content: "\E100"; }
.oi-link-minus:before { content: "\E101"; }
.oi-link-off:before { content: "\E102"; }
.oi-link-plus:before { content: "\E103"; }
.oi-linkedin:before { content: "\E246"; }
.oi-list-bullet:before { content: "\E105"; }
.oi-list-numbered:before { content: "\E106"; }
.oi-lock-outlook:before { content: "\E107"; }
.oi-magnet:before { content: "\E26B"; }
.oi-mail-arrow-left:before { content: "\E108"; }
.oi-mail-arrow-right:before { content: "\E109"; }
.oi-mail-check:before { content: "\E28F"; }
.oi-mail-cross:before { content: "\E10A"; }
.oi-mail-open:before { content: "\E10B"; }
.oi-mail-outline:before { content: "\E10D"; }
.oi-mail-plus:before { content: "\E10C"; }
.oi-map:before { content: "\E11B"; }
.oi-map-cross:before { content: "\E10E"; }
.oi-map-direction:before { content: "\E205"; }
.oi-map-flag:before { content: "\E203"; }
.oi-map-marke-alert:before { content: "\E10F"; }
.oi-map-marke-check:before { content: "\E110"; }
.oi-map-marker:before { content: "\E117"; }
.oi-map-marker-cross:before { content: "\E111"; }
.oi-map-marker-minus:before { content: "\E112"; }
.oi-map-marker-multible:before { content: "\E113"; }
.oi-map-marker-multible-2:before { content: "\E206"; }
.oi-map-marker-off:before { content: "\E114"; }
.oi-map-marker-plus:before { content: "\E115"; }
.oi-map-marker-radius:before { content: "\E116"; }
.oi-map-minus:before { content: "\E118"; }
.oi-map-off:before { content: "\E119"; }
.oi-map-pin:before { content: "\E204"; }
.oi-map-plus:before { content: "\E11A"; }
.oi-map-signs:before { content: "\E202"; }
.oi-mastercard:before { content: "\E253"; }
.oi-measuring-tape:before { content: "\E26A"; }
.oi-medal:before { content: "\E1D3"; }
.oi-megafone:before { content: "\E11C"; }
.oi-menulist:before { content: "\E11D"; }
.oi-micro-chip:before { content: "\E226"; }
.oi-microfone-one:before { content: "\E22F"; }
.oi-microphone-dynamic:before { content: "\E19F"; }
.oi-minus-circled:before { content: "\E11E"; }
.oi-minus-outline:before { content: "\E11F"; }
.oi-mobilephone:before { content: "\E223"; }
.oi-morning:before { content: "\E1D6"; }
.oi-mouse-sign:before { content: "\E236"; }
.oi-move:before { content: "\E120"; }
.oi-music:before { content: "\E18A"; }
.oi-navigation:before { content: "\E121"; }
.oi-news-old:before { content: "\E1A2"; }
.oi-night-moon:before { content: "\E1EF"; }
.oi-night-outline:before { content: "\E122"; }
.oi-npm:before { content: "\E250"; }
.oi-nuclear:before { content: "\E1C0"; }
.oi-option-outline:before { content: "\E123"; }
.oi-ordli:before { content: "\E287"; }
.oi-ordli-solid:before { content: "\E288"; }
.oi-paint-roller:before { content: "\E26C"; }
.oi-pan:before { content: "\E1EE"; }
.oi-paypal:before { content: "\E254"; }
.oi-pen:before { content: "\E125"; }
.oi-pen-off:before { content: "\E124"; }
.oi-pencil-off:before { content: "\E126"; }
.oi-pencil-outline:before { content: "\E127"; }
.oi-pilcrow:before { content: "\E128"; }
.oi-pin:before { content: "\E12A"; }
.oi-pin-off:before { content: "\E129"; }
.oi-pizza:before { content: "\E1E8"; }
.oi-play:before { content: "\E18B"; }
.oi-play-break:before { content: "\E194"; }
.oi-play-stop:before { content: "\E193"; }
.oi-plug:before { content: "\E22B"; }
.oi-plug-off:before { content: "\E22C"; }
.oi-plus-circled:before { content: "\E12B"; }
.oi-plus-outline:before { content: "\E12C"; }
.oi-printer-outline:before { content: "\E12D"; }
.oi-projects:before { content: "\E1BD"; }
.oi-quote-left:before { content: "\E20C"; }
.oi-quote-right:before { content: "\E20D"; }
.oi-radio-off:before { content: "\E12E"; }
.oi-radio-old:before { content: "\E19C"; }
.oi-radio-on:before { content: "\E12F"; }
.oi-react:before { content: "\E24F"; }
.oi-reader:before { content: "\E130"; }
.oi-receipt:before { content: "\E1F4"; }
.oi-refresh:before { content: "\E131"; }
.oi-relocation:before { content: "\E1A0"; }
.oi-requirement:before { content: "\E262"; }
.oi-return:before { content: "\E132"; }
.oi-rocket-outline:before { content: "\E133"; }
.oi-row-add:before { content: "\E134"; }
.oi-row-delete:before { content: "\E135"; }
.oi-row-minus:before { content: "\E136"; }
.oi-rss:before { content: "\E23D"; }
.oi-ruler:before { content: "\E138"; }
.oi-ruler-square:before { content: "\E137"; }
.oi-sausage:before { content: "\E1EA"; }
.oi-scale-down:before { content: "\E139"; }
.oi-scale-up:before { content: "\E13A"; }
.oi-scan:before { content: "\E13B"; }
.oi-scissors:before { content: "\E13C"; }
.oi-scripting:before { content: "\E23B"; }
.oi-search:before { content: "\E13D"; }
.oi-security-cam:before { content: "\E1DB"; }
.oi-send:before { content: "\E13E"; }
.oi-senkel:before { content: "\E270"; }
.oi-server:before { content: "\E225"; }
.oi-settings:before { content: "\E1BC"; }
.oi-shape-difference:before { content: "\E20A"; }
.oi-shape-intersection:before { content: "\E209"; }
.oi-shape-subtract:before { content: "\E208"; }
.oi-shape-unite:before { content: "\E207"; }
.oi-share:before { content: "\E13F"; }
.oi-shield-check:before { content: "\E290"; }
.oi-shield-half:before { content: "\E140"; }
.oi-shield-off:before { content: "\E141"; }
.oi-shield-outline:before { content: "\E142"; }
.oi-shop:before { content: "\E1F8"; }
.oi-shopping-bag:before { content: "\E143"; }
.oi-signal:before { content: "\E144"; }
.oi-simcard:before { content: "\E22A"; }
.oi-skull-sign:before { content: "\E1C2"; }
.oi-smartwatch:before { content: "\E238"; }
.oi-smoker:before { content: "\E145"; }
.oi-sort_down:before { content: "\E1BB"; }
.oi-sort_up:before { content: "\E1BA"; }
.oi-specialcharakter:before { content: "\E211"; }
.oi-spinner:before { content: "\E1CD"; }
.oi-spinner-four:before { content: "\E1D0"; }
.oi-spinner-three:before { content: "\E1CF"; }
.oi-spinner-two:before { content: "\E1CE"; }
.oi-spray-can:before { content: "\E26D"; }
.oi-star-filled:before { content: "\E146"; }
.oi-star-outline:before { content: "\E147"; }
.oi-steak:before { content: "\E1E9"; }
.oi-suitecase:before { content: "\E148"; }
.oi-swipe-left:before { content: "\E1C4"; }
.oi-swipe-right:before { content: "\E1C5"; }
.oi-swissknife:before { content: "\E272"; }
.oi-switch-off:before { content: "\E149"; }
.oi-switch-on:before { content: "\E14A"; }
.oi-sync:before { content: "\E14B"; }
.oi-tablet:before { content: "\E224"; }
.oi-tea:before { content: "\E1E5"; }
.oi-terminal:before { content: "\E23A"; }
.oi-text-align-center:before { content: "\E14C"; }
.oi-text-align-justify-all:before { content: "\E14D"; }
.oi-text-align-justify-center:before { content: "\E14E"; }
.oi-text-align-justify-left:before { content: "\E14F"; }
.oi-text-align-left:before { content: "\E150"; }
.oi-text-align-right:before { content: "\E151"; }
.oi-text-indent:before { content: "\E152"; }
.oi-text-outdent:before { content: "\E153"; }
.oi-thermometer-sign:before { content: "\E1F0"; }
.oi-thumb-down:before { content: "\E154"; }
.oi-thumb-up:before { content: "\E155"; }
.oi-time-outline:before { content: "\E156"; }
.oi-timelaps:before { content: "\E157"; }
.oi-timer:before { content: "\E15C"; }
.oi-timer-off:before { content: "\E158"; }
.oi-timer-sand:before { content: "\E15A"; }
.oi-timer-sand-empty:before { content: "\E159"; }
.oi-timer-setting:before { content: "\E15B"; }
.oi-tooltip:before { content: "\E161"; }
.oi-tooltip-check:before { content: "\E15D"; }
.oi-tooltip-cross:before { content: "\E15E"; }
.oi-tooltip-minus:before { content: "\E15F"; }
.oi-tooltip-plus:before { content: "\E160"; }
.oi-torch:before { content: "\E1C6"; }
.oi-touchpoint:before { content: "\E1C3"; }
.oi-traffic-cone:before { content: "\E269"; }
.oi-trash-outline:before { content: "\E162"; }
.oi-triangle:before { content: "\E26F"; }
.oi-triangle-down:before { content: "\E163"; }
.oi-triangle-left:before { content: "\E164"; }
.oi-triangle-right:before { content: "\E165"; }
.oi-triangle-up:before { content: "\E166"; }
.oi-trowel:before { content: "\E1E2"; }
.oi-tv:before { content: "\E237"; }
.oi-twitter:before { content: "\E23C"; }
.oi-typo-bold:before { content: "\E167"; }
.oi-typo-code:before { content: "\E168"; }
.oi-typo-italic:before { content: "\E169"; }
.oi-typo-lowercase:before { content: "\E16A"; }
.oi-typo-normal:before { content: "\E16B"; }
.oi-typo-normalcase:before { content: "\E16C"; }
.oi-typo-overline:before { content: "\E16D"; }
.oi-typo-strikethrough:before { content: "\E16E"; }
.oi-typo-underline:before { content: "\E16F"; }
.oi-typo-uppercase:before { content: "\E170"; }
.oi-umbrella-sign:before { content: "\E1DE"; }
.oi-uniE26A:before { content: "\E25F"; }
.oi-unlock:before { content: "\E171"; }
.oi-update:before { content: "\E172"; }
.oi-upload:before { content: "\E173"; }
.oi-usb:before { content: "\E234"; }
.oi-usb-drive:before { content: "\E229"; }
.oi-video:before { content: "\E174"; }
.oi-view-columns:before { content: "\E175"; }
.oi-view-list:before { content: "\E176"; }
.oi-view-object:before { content: "\E177"; }
.oi-view-split-horizontal:before { content: "\E178"; }
.oi-view-split-vertical:before { content: "\E179"; }
.oi-view-table:before { content: "\E17A"; }
.oi-vimeo:before { content: "\E249"; }
.oi-visa:before { content: "\E252"; }
.oi-voice:before { content: "\E17B"; }
.oi-volume:before { content: "\E195"; }
.oi-volume-cross:before { content: "\E19B"; }
.oi-volume-down:before { content: "\E197"; }
.oi-volume-minus:before { content: "\E19A"; }
.oi-volume-off:before { content: "\E198"; }
.oi-volume-plus:before { content: "\E199"; }
.oi-volume-up:before { content: "\E196"; }
.oi-vue:before { content: "\E24B"; }
.oi-wallet:before { content: "\E1FC"; }
.oi-warehouse:before { content: "\E1FB"; }
.oi-warning-circled:before { content: "\E17C"; }
.oi-water-ice:before { content: "\E1EB"; }
.oi-waterlevel:before { content: "\E271"; }
.oi-weather-cloudy:before { content: "\E17D"; }
.oi-weather-fog:before { content: "\E17E"; }
.oi-weather-hazy:before { content: "\E17F"; }
.oi-weather-lightning:before { content: "\E180"; }
.oi-weather-partly-cloudy:before { content: "\E181"; }
.oi-weather-partly-lightning:before { content: "\E182"; }
.oi-weather-partly-rainy:before { content: "\E183"; }
.oi-weather-partly-snowy:before { content: "\E184"; }
.oi-weather-pouring:before { content: "\E185"; }
.oi-weather-rainy:before { content: "\E186"; }
.oi-weather-snowy:before { content: "\E187"; }
.oi-weather-sunny:before { content: "\E188"; }
.oi-webcam:before { content: "\E228"; }
.oi-whatsup:before { content: "\E240"; }
.oi-whistle:before { content: "\E1DC"; }
.oi-width:before { content: "\E189"; }
.oi-wifi:before { content: "\E230"; }
.oi-windows:before { content: "\E243"; }
.oi-wine:before { content: "\E1E7"; }
.oi-woven:before { content: "\E1C1"; }
.oi-xing:before { content: "\E247"; }
.oi-youtube:before { content: "\E248"; }
.oi-zoom-in:before { content: "\E21F"; }
.oi-zoom-out:before { content: "\E220"; }


.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
