// Base Class Definition
// -------------------------

.#{$oi-css-prefix},
.ois,
.oir,
.oil,
.oib {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

%oi-icon {
  @include oi-icon;
}
